<header class="site-header" role="banner">

    {% assign custom_url = site.url | append: site.baseurl %}
    {% assign full_base_url = custom_url %}
  
    <div class="container-fluid">
      <div class="row d-flex justify-content-center logo-header">
        <div class="">
          <div>
              <img src="{{ "/assets/img/pixture_logo.png" | prepend: site.baseurl }}" alt="Huttenhower Lab Logo"> <span id="workshop-title">Metagenomics, Metatranscriptomics, and Multi'omcs For Microbrial Community Studies</span>
          </div>
        </div>
      </div>
    
    <div class="row d-flex nav-menu bg-header-color justify-content-center" style="border-top: 1px solid #353535">
    <nav class="navbar navbar-inverse">
          <ul class="nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ "/" | prepend: site.baseurl }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/lectures" | prepend: site.baseurl }}">Lectures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/labs" | prepend: site.baseurl }}">Labs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "https://huttenhower.sph.harvard.edu/" | prepend: site.baseurl }}">Huttenhower Lab</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    </div>
  </header>
