---
---

@import "variables";
@import "bootstrap/scss/bootstrap";
$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

body {
  background-color: #E5E5E5;
  position: relative;
}

.content {
  font-size: $custom-font-size;
}

.bg-header-color {
  background-color: #1F1F1F;
}

.navbar.active {
  color: blue;
}

a.nav-link {
  color: white;
}

ul.nav a:hover { color: grey !important; }

.navbar {
  padding: 2px 0 2px 0 !important;
}

.logo-header {
  background-color: #202020;
  padding: 3px 0 10px 0;
}

#nav-menu {
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
}

.highlight pre {
  margin: 0 !important;
}

div.highlight {
  margin-bottom: 17px;
}

.highlight { 
  padding: 3px 3px 3px 3px;
}

a.toc-link {
  height: 0 !important
}

#workshop-title {
  color: white;
  font-size: 135%;
}

.alert .alert-icon-col {
  min-width: 25px;
  max-width: 25px;
}

.alert-link {
  /* i find 700 to bold */
  font-weight: 600;
}

body {
  padding: 10px;
}
